{{>partials/header}}

{{#banner}}
<section class="banner" style="background-image: url('images/{{background}}')">{{title}}</section>
<h2>{{title}} available for adoption</h2>
{{/banner}}

<div class="container list">
    <div class="item">
        <img src="images/pastor-alemao.jpg" class="item--image" />
        <div class="item--name">German Shepherd</div>
        <div class="item--color">Color: Yellow e Black</div>
        <div class="item--genre">Gender: Male</div>
    </div>
    
</div>

{{>partials/footer}}